*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    margin:0;
    width:100%;
    height:100%;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}
/*------HEADER-------*/
.header{
    background-color: #eeeeee;
    width:100%;
    padding-top:30px;
}
.container{
    width:900px;
    margin:0 auto;
}
.clearfix:after{
    clear:both;
    display: table;
    content:"";
}
.clearfix:before{
    display: table;
    content:"";
}
.header__logo{
    width:140px;
    height:60px;
    float:left;
    padding-bottom: 75px;
}
.header__menu-list{
    display: inline-block;
    text-align: justify;
    width:570px;
    float:right;
}
.header__menu-list:after{
    display: inline-block;
    width:100%;
    height:0;
    content: "";
}
.header__menu-item{
    display:inline-block;
}

.header__menu-link{
    display: block;
    padding:10px;
}
.header__menu-link-text{
    font-size: 14px;
    color:#000000;
    text-transform: uppercase;
}
.header__menu-link-iconed{
    padding-right:10px;
}
.header__menu-link-text:hover{
    color:red;
}
.header__menu-link-text:active{
    color:#ababab;
}
.header__menu-link-text:visited{
text-decoration: solid red;
}

.header__knowmore{
    float:left;
    width:365px;
}
.header__knowmore-title{
    font-weight: bolder;
    font-size:30px;
    padding-bottom:20px;
}
.header__knowmore-info{
    color:#283136;
    font-size:15px;
}
.header__knowmore-link{
    display: block;
    margin-top:20px;
    padding:14px 70px;
    background-color:#fb565a;
    color:white;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}
.header__slideshow{
    float:right;
    margin-top:-20px;
}